$darkpurple: #260033;
$lilac: #df80ff;
$purple: #4d0066;
$whitelilac: #f3d9f3;
$lightpurple: #9900cc;
$lightlilac: #e2abf4;
$darklilac: #d667fb;
$graylilac: rgb(160, 108, 160);
$livepurple: rgba(101,8,163,1);